p::first-letter {
    color: darkcyan;
    font-size: larger;
}

p::first-line {
    color:rgb(115, 163, 235);
    font-weight: 100;
}

#bloco {
    background-color: darkgoldenrod;
    color: bisque;
}

#paragrafo::selection {
    color: chocolate;
    text-align: center;
}
h2::before {
    background-color: cornflowerblue;
    font-size: small;
    content: url(Capturar.PNG);
    size: 20px;
    text-align: center;
}
h2 {
    text-align: center;
}
ul li a {
    font-size: large;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}