body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
#hcb{
    background-color: aquamarine;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    padding: 10px;
    text-align: center;
    text-shadow: 3px 4px rgb(0, 0, 0);
}
.menu{
    background-color: rgba(53, 240, 215, 10);
}
.menu ul{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    list-style:none;
    border-radius: 20px;
}
.menu li:nth-child(1){
    background-color: rgb(128, 128, 189);
    color: blue;
    border-radius: 60px;
    border-top: 10px rgb(128, 128, 189) solid;
    width: 80px;
    height: 70px;
    text-align: center;
    text-decoration: none;
}
.menu li:nth-child(2){
    background-color: rgb(16, 179, 38);
    color: blue;
    border-radius: 70px;
    border-top: 10px rgb(16, 180, 38) solid;
    width: 100px;
    height: 60px;
    text-align:center;
    margin-top: 10px;
}
.menu li:nth-child(3){
    background-color: rgb(189, 201, 26);
    color: blue;
    border-radius: 60px;
    border-top: 10px rgb(189, 201, 26) solid;
    width: 70px;
    height: 45px;
    margin-top: 10px;
    text-align: center;
}
.texto{
    margin: 20px;
    background-color: rgb(233, 233, 233);
}
.tabela{
    text-align: center;
    margin-left: 400px;
    margin-bottom: 20px;
    display: inline-block;
    border: 20px firebrick ridge;
    padding: 20px 20px 20px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.div table tr th:nth-child(ellipse) {
    background-color: rgb(241, 20, 49);
    color-scheme: green;
}

.tabela table tr td:hover {
    background-color: rgb(20, 241, 149);
    transition: 0.5s;
    opacity: 0.7;
}
button{
    background-color: cornflowerblue;
    box-shadow: 8px 8px 5px rgb(70, 67, 67);
    margin-bottom: 20px;
    margin-right: 30px;
}
#pnl{
    text-align: center;
}
.rodape a{
    background-color: rgb(15, 180, 90);
    text-align: center;
    color: rgb(170, 0, 248);
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.rodape a:hover{
    transition: 0.5s;
    opacity: 0.7;
    background-color: brown;
    color: chartreuse;
}
.rodape{
    text-align: center;
    margin-bottom: 15px;
}